/* You can add global styles to this file, and also import other style files */
/*@import "~bootstrap/dist/css/bootstrap.min.css";!* - Imported on angular.json 'styles'*!*/

.custom-card {
  width: 350px;
  max-width: 100%;
  background-color: beige;
}

.user-icon {
  font-size: 100px;
  color: black;
}
